<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <connectionStrings>
    <add name="ERPinDbContext" connectionString="metadata=res://*/Models.ERPinDbContext.csdl|res://*/Models.ERPinDbContext.ssdl|res://*/Models.ERPinDbContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=ERPin;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>